.DS_Store

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.bcf
*.xml
*.pdf
!figures/*.pdf
!main.pdf

# Ignore node_modules
node_modules/
main.bcf

_minted-main*
tmp/

__latexindent_temp.tex
*.bak
*.bak[0-9]

__*.tex
*SAVE-ERROR