.DS_Store

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.bcf
*.xml
*.pdf
!.vscode/settings.json
!.vscode/extensions.json
.vscode/

# Ignore node_modules
node_modules/
main.bcf

_minted-main*

__latexindent_temp.tex
*.bak
*.bak[0-9]