# textlintでの文法チェックのワークフロー
name: Lint

# Reviewdogでの指摘を有効に使うため、pull requestでのみ有効
on:
  pull_request:
    # Pull Requestかつ
    # 以下のファイルに変更があった場合、このWorkflowを実行
    paths:
      - "prh.yml"
      - ".textlintrc"
      - "package.json"
      - "package-lock.json"
      - ".github/workflows/lint.yaml"
      - "**.tex"

jobs:
  lint:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node environment
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: "16.x"

      - uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest

      # 依存関係の構築とtextlintの実行
      - name: Run lint
        run: |
          npm install
          npm run lint

      # ↑のステップでtextlintが違反を検知した場合のみ実行
      - name: Run reviewdog
        if: failure()
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run --silent lint-style | reviewdog -f=checkstyle -name="textlint" -diff="Git diff HEAD^" -reporter=github-pr-review